[*.cs]

# CS0006: Fichier de métadonnées '..\lib\Assembly-CSharp Vanila.dll' introuvable
dotnet_diagnostic.CS0006.severity = none

# CS0649: Le champ 'MultieLoder.Config' n'est jamais assigné et aura toujours sa valeur par défaut null
dotnet_diagnostic.CS0649.severity = none
